.section {
  padding-top: 180px;
}

// .spacer[data-height="96"]

// ===============================
//         HEADER SECTION
// ===============================

.header {
  padding: 10px 0;
  background: $aqua-green;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  font-weight: 600;
}

.navbar-brand {
  font-size: 35px !important;
  font-weight: 700;
  padding: 5px 10px;
  border: 2px solid;
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.nav-link {
  color: $default-color !important;

  &.active {
    color: $yellow-orange !important;
  }

  &:hover {
    color: $yellow-orange !important;
  }
}

ul {
  font-size: 18px;
}

// ===============================
//      INTRODUCTION SECTION
// ===============================

img.home-element {
  position: absolute;
  right: 3rem;
  bottom: 15rem;
  width: 350px;
}

h1.intro-name {
  font-size: 55px;
  font-weight: 700;
}

p.typed {
  padding-left: 10px;
  font-size: 30px;
}

section.home {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  width: 100rem;
}

.home-center {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

// ===============================
//          ABOUT SECTION
// ===============================

h2.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 0 5px;
  padding: 0 0 15px;
}

.profile-photo {
  width: min(70%, 12rem);
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.intro-name {
  font-size: 2.5rem;
}

.introduction {
  font-size: 1.25rem;
}

.col img {
  width: 150px;
}

.resume-btn {
  font-weight: 500;
  letter-spacing: 1px;
  color: $white;
  background: $aqua-green;
  padding: 15px;

  &.border-round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  &:hover {
    background: #739bac;
    color: $white;
  }
}

// ===============================
//         PROJECT SECTION
// ===============================

.project-items {
  [class*="col-"] {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 475px;
  } 
}

.project-items {
  margin: auto;
  max-width: 375px;
}

.project-info {
  width: 100%;
  height: 260px;
  padding: .75rem;
  background: #4f7383ce;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}

.project-info:hover {
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);

}
.project-info:hover::before {
  opacity: .85;
}

.project-info:hover .project-text {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.project-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #789fc7;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.project-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.project-info .project-text {
  position: relative;
  top: 35px;
  z-index: 1000;
  color: $white;
  opacity: 0;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.project-info .project-text h4 {
  font-size: 25px;
}
.project-info .project-text p {
  letter-spacing: 1px;
  font-size: 15px;
}

.project-link {
  a {
    transition: 0.2s;
    color: #c3ece7;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
  
  & :hover {
    color: $yellow-orange;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}

h3.card-title {
  position: absolute;
  top: -15px;
  font-size: 40px;
}

h5.card-title {
  margin-left: 5px;
  position: inherit;
  top: 85px;
  font-size: 15px;
}

p.categories,
div.project-link {
  margin: 0;
  position: relative;
  bottom: -120px;
}

// ===============================
//          SKILL SECTION
// ===============================

.mainContainer{
  margin: 10px;
  overflow: hidden;
}

.mainContainer .slide-container{
  padding-top: 100px;
}

.mainContainer .slide-container img{
  width: min(75%, 12rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

// ===============================
//         CONTACT SECTION
// ===============================

form .btn-custom {
  font-weight: 600;
  background: #4f7383;
  color: $white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

form .btn-custom:hover {
  background: #739bac;
  color: $white;
}

.contact-form {
  margin-bottom: 3rem;
}

form {
  background: $white;
  border: 1px solid #71717169;
  box-shadow: 2px 2px 6px #27272775;
  padding: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.column {
  margin: 0 0 15px 0;
}

.column input,
.column textarea {
  padding: 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.email-btn a {
  text-decoration: none;
  color: $aqua-green;

  &:hover {
    color: $orange;
  }
}

.spacer {
  clear: both;

  &[data-height="100"] {
    height: 100px;
  }
}

// ===============================
//         FOOTER SECTION
// ===============================

.footer {
  z-index: 0;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding: 25px 0;
  background: $dark-aqua;
}

