@media (min-width: 1366px) {
  .container {
    max-width: 1126px !important;
  }
}

@media (min-width: 576px) {
  .project-items {
    margin: 0;
    max-width: 1325px;
  }
}

@media only screen and (max-width: 768px) {
  .project-info {
    max-width: 100%;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  img.home-element {
    display: none;
  }
}

